<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boco.unitive.rule.dao.TfaGaiaRuleFileMapper">
  <resultMap id="BaseResultMap" type="com.boco.unitive.rule.entity.TfaGaiaRuleFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SER_FILE_ID" jdbcType="DECIMAL" property="serFileId" />
    <result column="DIRECTORYS" jdbcType="VARCHAR" property="directorys" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="OPT_PERSON" jdbcType="VARCHAR" property="optPerson" />
    <result column="NEW_FILE" jdbcType="VARCHAR" property="newFile" />
    <result column="CHANGE_TIME" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="IN_USE" jdbcType="CHAR" property="inUse" />
    <result column="ALARM_ID_NUM" jdbcType="DECIMAL" property="alarmIdNum" />
    <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName" />
    <result column="RELATION_TYPE" jdbcType="DECIMAL" property="relationType" />
    <result column="PROFESSIONAL_TYPE" jdbcType="DECIMAL" property="professionalType" />
    <result column="VENDOR_ID" jdbcType="DECIMAL" property="vendorId" />
    <result column="RULEDESC" jdbcType="VARCHAR" property="ruledesc" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="IS_LOCAL_RULE" jdbcType="CHAR" property="isLocalRule" />
    <result column="RELATION_CONDITION" jdbcType="VARCHAR" property="relationCondition" />
    <result column="RELATION_POSITION_INFO" jdbcType="VARCHAR" property="relationPositionInfo" />
    <result column="USE_RESOURCES" jdbcType="VARCHAR" property="useResources" />
    <result column="PRO_RESCONFIG" jdbcType="VARCHAR" property="proResconfig" />
    <result column="EXT_RESCONFIG" jdbcType="VARCHAR" property="extResconfig" />
    <result column="ALARM_CONTENT" jdbcType="VARCHAR" property="alarmContent" />
    <result column="RULE_DEF_USER" jdbcType="VARCHAR" property="ruleDefUser" />
    <result column="RULE_DEF_PHONE" jdbcType="VARCHAR" property="ruleDefPhone" />
    <result column="EQP_OBJECT_CLASS" jdbcType="VARCHAR" property="eqpObjectClass" />
    <result column="TOPIC_IDLIST" jdbcType="VARCHAR" property="topicIdlist" />
    <result column="FILTER_ID" jdbcType="VARCHAR" property="filterId" />
    <result column="PHONE_NUM" jdbcType="VARCHAR" property="phoneNum" />
    <result column="FIRE_POINT" jdbcType="DECIMAL" property="firePoint" />
    <result column="ACTIVE_TIME_OUT" jdbcType="VARCHAR" property="activeTimeOut" />
    <result column="COUNT_TYPE" jdbcType="DECIMAL" property="countType" />
    <result column="THRESH_HOLD" jdbcType="DECIMAL" property="threshHold" />
    <result column="THRESH_HOLD_REFER_SQL" jdbcType="VARCHAR" property="threshHoldReferSql" />
    <result column="CHANGE_STATUS" jdbcType="DECIMAL" property="changeStatus" />
    <result column="PROJECT_SURPRESS" jdbcType="DECIMAL" property="projectSurpress" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DEALED_PROCESS_ALIAS" jdbcType="VARCHAR" property="dealedProcessAlias" />
    <result column="RELATION_NAME" jdbcType="VARCHAR" property="relationName" />
    <result column="BLACKLIST_PROVINCE" jdbcType="VARCHAR" property="blacklistProvince" />
    <result column="WHITELIST_PROVINCE" jdbcType="VARCHAR" property="whitelistProvince" />
    <result column="REASON_TYPE" jdbcType="DECIMAL" property="reasonType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.boco.unitive.rule.entity.TfaGaiaRuleFile">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="RULE_CONTENT" jdbcType="CLOB" property="ruleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    SER_FILE_ID, DIRECTORYS, FILE_NAME, OPT_PERSON, NEW_FILE, CHANGE_TIME, IN_USE, ALARM_ID_NUM, 
    RULE_NAME, RELATION_TYPE, PROFESSIONAL_TYPE, VENDOR_ID, RULEDESC, USER_ID, IS_LOCAL_RULE, 
    RELATION_CONDITION, RELATION_POSITION_INFO, USE_RESOURCES, PRO_RESCONFIG, EXT_RESCONFIG, 
    ALARM_CONTENT, RULE_DEF_USER, RULE_DEF_PHONE, EQP_OBJECT_CLASS, TOPIC_IDLIST, FILTER_ID, 
    PHONE_NUM, FIRE_POINT, ACTIVE_TIME_OUT, COUNT_TYPE, THRESH_HOLD, THRESH_HOLD_REFER_SQL, 
    CHANGE_STATUS, PROJECT_SURPRESS, CREATE_TIME, DEALED_PROCESS_ALIAS, RELATION_NAME, 
    BLACKLIST_PROVINCE, WHITELIST_PROVINCE, REASON_TYPE
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    RULE_CONTENT
  </sql>
  <resultMap id="ruleAlarm" type="com.boco.unitive.rule.entity.dto.RuleAlarms">
  		<result column="ser_file_id" jdbcType="DECIMAL" property="serFileId" />
  		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
  		<result column="opt_person" jdbcType="VARCHAR" property="optPerson" />
  		<result column="sub_alarm_name" jdbcType="VARCHAR" property="subAlarm" />
  		<result column="filter_name" jdbcType="VARCHAR" property="filterName" />
  </resultMap>
  <select id="queryRuleAlarm" parameterType="Integer" resultMap="ruleAlarm">
  	select tf.ser_file_id,tf.file_name, tf.opt_person, ts.sub_alarm_name, ts.filter_name
  from tfa_gaia_rule_file tf, tfa_gaia_rule_sub_alarm ts
 where tf.ser_file_id = ts.ser_file_id and tf.ser_file_id=#{serFileId}
  </select>
</mapper>