<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boco.unitive.rule.dao.TfaGaiaRuleDeriveMapper">
  <resultMap id="BaseResultMap" type="com.boco.unitive.rule.entity.TfaGaiaRuleDerive">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SER_FILE_ID" jdbcType="DECIMAL" property="serFileId" />
    <result column="DERIVE_TITLE_TEXT" jdbcType="VARCHAR" property="deriveTitleText" />
    <result column="DERIVE_ORG_SEVERITY" jdbcType="DECIMAL" property="deriveOrgSeverity" />
    <result column="DERIVE_ORG_TYPE" jdbcType="DECIMAL" property="deriveOrgType" />
    <result column="DERIVE_CLR_RULE" jdbcType="DECIMAL" property="deriveClrRule" />
    <result column="TIME_OUT" jdbcType="CHAR" property="timeOut" />
    <result column="EFFECT_NE" jdbcType="VARCHAR" property="effectNe" />
    <result column="EFFECT_SERVICE" jdbcType="VARCHAR" property="effectService" />
    <result column="COUNT_THRESHOLD_TYPE" jdbcType="DECIMAL" property="countThresholdType" />
    <result column="ALARM_TEXT" jdbcType="VARCHAR" property="alarmText" />
    <result column="DERIVE_STANDARD_ALARM_ID" jdbcType="VARCHAR" property="deriveStandardAlarmId" />
    <result column="OTHER_FIELD" jdbcType="VARCHAR" property="otherField" />
    <result column="DERIVE_STANDARD_ALARM_NAME" jdbcType="VARCHAR" property="deriveStandardAlarmName" />
    <result column="PROFESSIONAL_TYPE" jdbcType="DECIMAL" property="professionalType" />
    <result column="VENDOR_ID" jdbcType="DECIMAL" property="vendorId" />
    <result column="EQP_OBJECT_CLASS" jdbcType="DECIMAL" property="eqpObjectClass" />
    <result column="OBJECT_CLASS" jdbcType="DECIMAL" property="objectClass" />
    <result column="ACTIVE_TIMEOUT" jdbcType="VARCHAR" property="activeTimeout" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    SER_FILE_ID, DERIVE_TITLE_TEXT, DERIVE_ORG_SEVERITY, DERIVE_ORG_TYPE, DERIVE_CLR_RULE, 
    TIME_OUT, EFFECT_NE, EFFECT_SERVICE, COUNT_THRESHOLD_TYPE, ALARM_TEXT, DERIVE_STANDARD_ALARM_ID, 
    OTHER_FIELD, DERIVE_STANDARD_ALARM_NAME, PROFESSIONAL_TYPE, VENDOR_ID, EQP_OBJECT_CLASS, 
    OBJECT_CLASS, ACTIVE_TIMEOUT
  </sql>
</mapper>